.input-home {
    border: 5px solid black;
    border-radius: 5px;
    margin-top: 50px;
    width: 600px;
    height: 40px;
    margin-right: 50px;
    padding: 20px;
    font-size: 20px;
    font-weight: lighter;
}